{% load static %}
<!DOCTYPE html>

<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                <meta name="author" content="">

                <title>Practica</title>
                
                <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
                <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
                <link href="{% static 'vendor/css/sb-admin-2.min.css' %}" rel="stylesheet">
        	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	</head>

	<body id="page-top">
		<div id="wrapper">
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      				<a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        				<div class="sidebar-brand-icon rotate-n-15">
          					<i class="fas fa-laugh-wink"></i>
        				</div>
        				<div class="sidebar-brand-text mx-3">Practica</div>
      				</a>

				<hr class="sidebar-divider my-0">

				<li class="nav-item active">
        				<a class="nav-link" href="inicio">
          					<i class="fas fa-fw fa-tachometer-alt"></i>
						<font size=3>Inicio</font>
					</a>
				</li>
				
				<hr class="sidebar-divider">
				
				<div class="sidebar-heading">
        				Maestros
      				</div>
				
				<li class="nav-item">
        				<a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTables" aria-expanded="true" aria-controls="collapseTables">
          					<i class="fas fa-fw fa-table"></i>
          					<span>Tablas</span>
					</a>	
					<div id="collapseTables" class="collapse" aria-labelledby="headingTables" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h1 class="collapse-header">Tablas Registradas</h6>
							<a class="collapse-item" href="equipos">Servidores</a>
            						<a class="collapse-item" href="disponibilidad">Actividad Registrada</a>
						</div>
					</div>
      				</li>
				
      				<hr class="sidebar-divider d-none d-md-block">

      				<div class="text-center d-none d-md-inline">
        				<button class="rounded-circle border-0" id="sidebarToggle"></button>
      				</div>
			</ul>
			
			<div id="content-wrapper" class="d-flex flex-column">
      				<div id="content">
        				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          					
						<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            						<i class="fa fa-bars"></i>
          					</button>

						<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            						<div class="input-group">
              							<input type="text" class="form-control bg-light border-0 small" placeholder="Buscar" aria-label="Search" aria-describedby="basic-addon2">
              							<div class="input-group-append">
                							<button class="btn btn-primary" type="button">
                  								<i class="fas fa-search fa-sm"></i>
                							</button>
              							</div>
            						</div>
         	 				</form>

						<ul class="navbar-nav ml-auto">
							<div class="topbar-divider d-none d-sm-block"></div>

							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                							<span class="mr-2 d-none d-lg-inline text-gray-600 small">Claudio Guevara</span>
              								<i class="fas fa-user-circle fa-fw"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                							<a class="dropdown-item" href="#">
                  								<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  									Perfil
                							</a>
                							<a class="dropdown-item" href="#">
                  								<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  									Configuración
                							</a>
                							<div class="dropdown-divider"></div>
                							<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  									Cerrar Sesión
                							</a>
              							</div>
            						</li>
						</ul>
					</nav>

					<div class="container-fluid">
          					<div class="d-sm-flex align-items-center justify-content-between mb-4">
							<h1 class="h3 mb-0 text-gray-800">No se me ocurren titulos</h1>
            						<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Descargar Plantilla</a>
          					</div>
						<div class="row">
							<div class="col-xl-3 col-md-6 mb-4">
              							<div class="card border-left-primary shadow h-100 py-2">
                							<div class="card-body">
                  								<div class="row no-gutters align-items-center">
                    									<div class="col mr-2">
												<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cantidad de Equipos</div>
												<script>
													$(function(){
														var contador = 0
														{% for i in Equipos %}
														contador++
														{% endfor %}
														$("#equipos").text(contador);
													})
												</script>
												<div class="h5 mb-0 font-weight-bold text-gray-800">
													<span id="equipos"</span>
												</div>
                    									</div>
                  								</div>
                							</div>
              							</div>
            						</div>
							<div class="col-xl-3 col-md-6 mb-4">
              							<div class="card border-left-success shadow h-100 py-2">
                							<div class="card-body">
                  								<div class="row no-gutters align-items-center">
                    									<div class="col mr-2">
                      										<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total de Minutos Activos</div>
                    										<script>
                                                                                                        $(function(){
                                                                                                                var activo = 0
                                                                                                                {% for i in minutos_activo %}
                                                                                                                	activo = "{{ i }}"
                                                                                                                {% endfor %}
														var Actividad = activo+" minutos"
                                                                                                                $("#activo").text(Actividad);
                                                                                                        })
                                                                                                </script>
                                                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                                                                        <span id="activo"</span>
                                                                                                </div>
											</div>
                  								</div>
                							</div>
              							</div>
            						</div>
							<div class="col-xl-3 col-md-6 mb-4">
              							<div class="card border-left-info shadow h-100 py-2">
                							<div class="card-body">
                  								<div class="row no-gutters align-items-center">
                    									<div class="col mr-2">
                      										<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total de Minutos No Activos</div>
												<script>
                                                                                                        $(function(){
                                                                                                                var no_activo = 0
                                                                                                                {% for i in minutos_no_activo %}
                                                                                                                        no_activo = "{{ i }}"
                                                                                                                {% endfor %}
                                                                                                                var Actividad = no_activo+" minutos"
                                                                                                                $("#no_activo").text(Actividad);
                                                                                                        })
                                                                                                </script>
                                                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                                                                        <span id="no_activo"</span>
                                                                                                </div>
                    									</div>
                  								</div>
                							</div>
              							</div>
            						</div>
							<div class="col-xl-3 col-md-6 mb-4">
              							<div class="card border-left-warning shadow h-100 py-2">
                							<div class="card-body">
                  								<div class="row no-gutters align-items-center">
                    									<div class="col mr-2">
                      										<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Porcentaje Actividad</div>
                    										 <script>
                                                                                                        $(function(){
                                                                                                                var porcentaje = 0
                                                                                                                {% for i in porcentaje %}
                                                                                                                        porcentaje = "{{ i }}"
                                                                                                                {% endfor %}
                                                                                                                var Actividad = porcentaje+" %"
                                                                                                                $("#porcentaje").text(Actividad);
                                                                                                        })
                                                                                                </script>
                                                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                                                                        <span id="porcentaje"</span>
                                                                                                </div>
											</div>
                 	 							</div>
                							</div>
              							</div>
            						</div>
						</div>
						<div class="row">
							<div class="col-xl-8 col-lg-7">
              							<div class="card shadow mb-4">
                							<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  								<h6 class="m-0 font-weight-bold text-primary">Tiempo Activo de los Servidores</h6>
                  							</div>
                							<div class="card-body">
                								<canvas class="line-chart"</canvas>
										<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
										<script>
											var ctx = document.getElementsByClassName("line-chart");
                                                             				var chartGraph = new Chart(ctx, {
												type: 'line',
  												data: {
													labels: [
														{% for i in Equipos %}
														"Equipo {{ i }}" 
														,
														{% endfor %}	
													],
													datasets: [{
														data: [
														{% for i in tiempo_activo %}
															"{{ i }}"
															,
														{% endfor %}
														],
														label: "Minutos Activos",
														borderColor: "#3e95cd",
        													fill: false	
													}]
												},
												options: {
													scales: {
														yAxes: [{
															ticks: {
																beginAtZero:true
															}
														}]
													}
												}
											});
										</script>
              								</div>
								</div>
							</div>

							<div class="col-xl-4 col-lg-5">
                                                       		<div class="card shadow mb-4">
                                                        		<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary">Grafica Individual</h6>
									</div>
									<div class="card-body">
                                                                                <div class="form-group">
                                                                                        <div class="form-label-group" align="center">
                                                                                                <select id="codigo">
                                                                                                        <option selected disabled>Elegir Equipo</option>
                                                                                                                {% for i in Equipos %}
                                                                                                                        <option> {{ i }}</option>
                                                                                                                {% endfor %}
                                                                                                </select>
                                                                                        </div>
                                                                                </div>
											
										<div class="form-group">
                                                                        		<div class="form-label-group" align="center">
                                                                                		<option selecteded disabled>- Fecha Inicial -</option>
                                                                               			<input type="date" id="fecha_inicio">
                                                                               			{{ example_form.date_forms }}
                                                                        		</div>
                                                                		</div>
										<div class="form-group">
                                                                        		<div class="form-label-group" align="center">
                                                                                		<option selecteded disabled>- Fecha Final -</option>
                                                                                		<input type="date" id="fecha_fin">
                                                                                		{{ example_form.date_forms }}
                                                                       			</div>
                                                                		</div>
										<div class="form-group">
											<div class="form-label-group" align="center">
												<select id="hora_inicial">
													<option selected disabled>- Hora inicial-</option>
													<option>00:00:00</option>
													<option>03:00:00</option>
													<option>06:00:00</option>
													<option>09:00:00</option>
													<option>12:00:00</option>
													<option>15:00:00</option>
													<option>18:00:00</option>
													<option>21:00:00</option>
													<option>23:59:59</option>
												</select>
											</div>
										</div>
										
										<div class="form-group">
                                                                                        <div class="form-label-group" align="center">
                                                                                                <select id="hora_final">
                                                                                                        <option selected disabled>- Hora final-</option>
                                                                                                	<option>00:00:00</option>
                                                                                                        <option>03:00:00</option>
                                                                                                        <option>06:00:00</option>
                                                                                                        <option>09:00:00</option>
                                                                                                        <option>12:00:00</option>
                                                                                                        <option>15:00:00</option>
                                                                                                        <option>18:00:00</option>
                                                                                                        <option>21:00:00</option>
                                                                                                        <option>23:59:59</option>
												</select>
                                                                                        </div>
                                                                                </div>
										
                                                                		<div class="text-center">
                                                                        		<font size="2">Rellenar todos los campos para mostrar un gráfico en particular</font>
                                                                		</div>
										<script>
                                                                        		$(function(){
                                                                                		$("#codigo").change(function() {
                                                                                        		var id_equipo=$("#codigo option:selected").text();
                                                                                        		$("#fecha_inicio").change(function() {
                                                                                                		var fecha_inicio=$("#fecha_inicio").val();
                                                                                                		$("#fecha_fin").change(function() {
                                                                                                        		var fecha_final=$("#fecha_fin").val();
															$("#hora_inicial").change(function() {
																var hora_ini=$("#hora_inicial option:selected").text();
																$("#hora_final").change(function() {
																	var hora_fin=$("#hora_final option:selected").text();
																	window.location.href = "grafico_individual?equipo="+id_equipo+"&fechaini="+fecha_inicio+"&fechafin="+fecha_final+"&hora_ini="+hora_ini+"&hora_fin="+hora_fin
																});
															});
														});
                                                                                        		});
                                                                                		});
                                                                        		})
                                                                		</script>
									</div>
								</div>
                                                	</div>
						</div>
					</div>
				</div>
				<footer class="sticky-footer bg-white">
                                        <div class="container my-auto">
                                                <div class="copyright text-center my-auto">
                                                        <span>Copyright &copy; Your Website 2020</span>
                                                </div>
                                        </div>
                                </footer>
			</div>
		</div>
		
		<a class="scroll-to-top rounded" href="#page-top">
    			<i class="fas fa-angle-up"></i>
  		</a>

		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Cerrando Sesión</h5>
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                </button>
                                        </div>
                                        <div class="modal-body">Seleccione "Salir" para cerrar la sesión.</div>
                                        <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                <a class="btn btn-primary" href="ingresar">Salir</a>
                                        </div>
                                </div>
                        </div>
                </div>

	
		<!-- Scripts -->
                <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
                <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
                <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
                <script src="{% static 'vendor/js/sb-admin-2.min.js' %}"></script>
		<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
		<script src="{% static 'vendor/js/demo/chart-area-demo.js' %}"></script>
		<script src="{% static 'vendor/js/demo/chart-pie-demo.js' %}"></script>
		<!------------>
	</body>
</html>
