{% load static %}
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		<meta name="description" content="">
  		<meta name="author" content="">

		<title>Practica</title>
		
		<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
                <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		<link href="{% static 'vendor/css/sb-admin-2.min.css' %}" rel="stylesheet">
	</head>

	<body class="bg-gradient-primary">
		<div class="container">
			<div class="mx-auto">	
				<div class="row justify-content-center">
					<div class="col-xl-10 col-lg-12 col-md-9">
						<div class="card o-hidden border-0 shadow-lg my-5">	
							<div class="card-header">
								<div class="text-center">
									<h1 class="h4 text-gray-900">¡Bienvenido!</h1>
								</div>
							</div>
							<div class="card-body">
								<form class="user" action="{% url 'Inicio' %}" method="post">
									{% csrf_token %}
									<div class="form-group">
										<input type="email" id="inputEmail" class="form-control form-control-user" placeholder="Ingresar Correo Electrónico" required>
									</div>
									<div class="form-group">
                                                                                <input type="password" id="inputPassword" class="form-control form-control-user" placeholder="Contraseña" required>
                                                                        </div>
									<div class="form-group">
                                                        			<div class="custom-control custom-checkbox small">
                                                                       			<input type="checkbox" class="custom-control-input" id="customCheck">
                                                                       			<label class="custom-control-label" for="customCheck">Recordar Contraseña</label>
                                                        			</div>
                                                			</div>
									<button type="submit" class="btn btn-primary btn-user btn-block">Iniciar Sesión</button>	
									<hr>
                    							<a href="inicio" class="btn btn-google btn-user btn-block">
                      								<i class="fab fa-google fa-fw"></i> Ingresar con cuenta Google
                    							</a>
                    							<a href="inicio" class="btn btn-facebook btn-user btn-block">
                     								<i class="fab fa-facebook-f fa-fw"></i> Ingresar con cuenta Facebook
                   							</a>
								</form>
								<br>
								<div class="text-center">
                                               				<a class="d-block small" href="registrar">Registrar una cuenta</a>
                                               				<a class="d-block small" href="recuperar">¿Olvidaste tu contraseña?</a>
                                       				</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Scripts -->
		<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
		<script src="{% static 'vendor/js/sb-admin-2.min.js' %}"></script>
		<!------------>
	</body>

</html>
