{% load static %}
<!DOCTYPE html>

<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                <meta name="author" content="">

                <title>Practica</title>
                
                <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
                <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
                <link href="{% static 'vendor/css/sb-admin-2.min.css' %}" rel="stylesheet">
        </head>

	<body class="bg-gradient-primary">
		<div class="container"> 
                        <div class="card card-login mx-auto mt-5">
                        	<div class="card-header">
                                	<div class="text-center">
                  	                      <h1 class="h4 text-gray-900">Recuperar Contraseña</h1>
					</div>
                                </div>
				<div class="card-body">
					<div class="text-center">
						<p>Introduce tu dirección de correo electrónico y te enviaremos las instrucciones para restablecer tu contraseña.</p>
					</div>
					<form class="user" action="{% url 'Ingresar' %}" method="post">
            	                        	{% csrf_token %}
						<div class="form-group">
                                       	        	<input type="email" id="inputEmail" class="form-control form-control-user" placeholder="Ingresa tu Correo Electrónico" required>
						</div>
						<button type="submit" class="btn btn-primary btn-user btn-block" href="ingresar">Recuperar Contraseña</a>
					</form>
				</div>
			</div>
		</div>


		<!-- Scripts -->
                <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
                <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
                <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
                <script src="{% static 'vendor/js/sb-admin-2.min.js' %}"></script>
                <!------------>
	</body>
</html>
