{% load static %}
<!DOCTYPE html>

<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                <meta name="author" content="">

                <title>Practica</title>
                
                <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
                <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
                <link href="{% static 'vendor/css/sb-admin-2.min.css' %}" rel="stylesheet">
        </head>

	<body class="bg-gradient-primary">
		<div class="container">
                        <div class="mx-auto md-5">
                                <div class="row justify-content-center">
                                        <div class="col-xl-10 col-lg-12 col-md-9">
                                                <div class="card o-hidden border-0 shadow-lg my-5">
							<div class="card-header">
                                                                <div class="text-center">
                                                                        <h1 class="h4 text-gray-900">Crear una Cuenta</h1>
                                                                </div>
							</div>
							<div class="card-body">
								<form class="user" action="{% url 'Ingresar' %}" method="post">
                                                                        {% csrf_token %}
                                                                        <div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<input type="text" id="firstName" class="form-control form-control-user" placeholder="Nombre" required>
										</div>
										<div class="col-sm-6 mb-3 mb-sm-0">
                                                                                        <input type="text" id="lastName" class="form-control form-control-user" placeholder="Apellido" required>
                                                                                </div>
                                                                        </div>
									<div class="form-group">
										<input type="email" id="inputEmail" class="form-control form-control-user" placeholder="Correo Electrónico" required>
									</div>
									<div class="form-group row">
                                                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                                                	<input type="password" id="inputPassword" class="form-control form-control-user" placeholder="Contraseña" required>
										</div>
                                                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                                                	<input type="password" id="inputPassword" class="form-control form-control-user" placeholder="Confirmar Contraseña" required>
										</div>
                                                                        </div>
									<button type="submit" class="btn btn-primary btn-user btn-block">Registrar Cuenta</button>
								</form>
								<br>
                                                                <div class="text-center">
                                                                	<a class="d-block small" href="ingresar">¿Ya tienes una cuenta registrada?</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		

		<!-- Scripts -->
                <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
                <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
                <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
                <script src="{% static 'vendor/js/sb-admin-2.min.js' %}"></script>
                <!------------>
	</body>
</html>
