{% load static %}
<!DOCTYPE html>

<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                <meta name="author" content="">

                <title>Practica</title>
                
                <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
                <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
                <link href="{% static 'vendor/css/sb-admin-2.min.css' %}" rel="stylesheet">
                <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
        </head>

        <body id="page-top">
                <div id="wrapper">
                        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                                        <div class="sidebar-brand-icon rotate-n-15">
                                                <i class="fas fa-laugh-wink"></i>
                                        </div>
                                        <div class="sidebar-brand-text mx-3">Practica</div>
                                </a>

				<hr class="sidebar-divider my-0">

                                <li class="nav-item active">
                                        <a class="nav-link" href="inicio">
                                                <i class="fas fa-fw fa-tachometer-alt"></i>
                                                <font size=3>Inicio</font>
                                        </a>
                                </li>

                                <hr class="sidebar-divider">

                                <div class="sidebar-heading">
                                        Maestros
                                </div>

				<li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTables" aria-expanded="true" aria-controls="collapseTables">
                                                <i class="fas fa-fw fa-table"></i>
                                                <span>Tablas</span>
                                        </a>
                                        <div id="collapseTables" class="collapse" aria-labelledby="headingTables" data-parent="#accordionSidebar">
                                                <div class="bg-white py-2 collapse-inner rounded">
                                                        <h1 class="collapse-header">Tablas Registradas</h6>
                                                        <a class="collapse-item" href="equipos">Servidores</a>
                                                        <a class="collapse-item" href="disponibilidad">Actividad Registrada</a>
                                                </div>
                                        </div>
                                </li>

                                <hr class="sidebar-divider d-none d-md-block">

                                <div class="text-center d-none d-md-inline">
                                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                                </div>
                        </ul>

			<div id="content-wrapper" class="d-flex flex-column">
                                <div id="content">
                                        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                                                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                                                        <i class="fa fa-bars"></i>
                                                </button>

                                                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                                        <div class="input-group">
                                                                <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar" aria-label="Search" aria-describedby="basic-addon2">
                                                                <div class="input-group-append">
                                                                        <button class="btn btn-primary" type="button">
                                                                                <i class="fas fa-search fa-sm"></i>
                                                                        </button>
                                                                </div>
                                                        </div>
                                                </form>

						<ul class="navbar-nav ml-auto">
                                                        <div class="topbar-divider d-none d-sm-block"></div>

                                                        <li class="nav-item dropdown no-arrow">
                                                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Claudio Guevara</span>
                                                                        <i class="fas fa-user-circle fa-fw"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                                                        <a class="dropdown-item" href="#">
                                                                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                                        Perfil
                                                                        </a>
                                                                        <a class="dropdown-item" href="#">
                                                                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                                        Configuración
                                                                        </a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                                                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                                        Cerrar Sesión
                                                                        </a>
                                                                </div>
                                                        </li>
                                                </ul>
                                        </nav>
					
					<div class="container-fluid">
						<h1 class="h3 mb-2 text-gray-800">Tabla de Servidores</h1>
						<p class="mb-4">Servidores registrados de la Universidad de Talca, a los cuales se les determino el tiempo que se encuentran activos y cuando no.<p>

						<div class="card shadow mb-4">
            						<div class="card-header py-3">
              							<h6 class="m-0 font-weight-bold text-primary">Servidores Registrados</h6>
            						</div>
							<div class="card-body">
              							<div class="table-responsive">
                							<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
                                                                                	<tr>
                                                                                        	<td>ID</td>
                                                                                        	<td>Nombre</td>
                                                                                        	<td>Funcion</td>
                                                                                        	<td>Detalle</td>
                                                                                		<td>Host</td>
											</tr>
                                                                        	</thead>

                                                                        	<tbody>
                                                                                	{% for i in Equipo %}
                                                                                	<tr>
                                                                                        	<td>{{ i.id }}</td>
                                                                                        	<td>{{ i.Nombre }}</td>
                                                                                        	<td>{{ i.Funcion }}</td>
                                                                                        	<td>{{ i.Detalle }}</td>
												<td>{{ i.Host }}<td>
                                                                                	</tr>
                                                                                	{% endfor %}
                                                                        	</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
                                </div>
				<footer class="sticky-footer bg-white">
                                        <div class="container my-auto">
                                                <div class="copyright text-center my-auto">
                                                        <span>Copyright &copy; Your Website 2020</span>
                                                </div>
                                        </div>
                                </footer>
                        </div>
                </div>

                <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fas fa-angle-up"></i>
                </a>

                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Cerrando Sesión</h5>
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                </button>
                                        </div>
                                        <div class="modal-body">Seleccione "Salir" para cerrar la sesión.</div>
                                        <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                <a class="btn btn-primary" href="ingresar">Salir</a>
                                        </div>
                                </div>
                        </div>
                </div>

		<!-- Scripts -->
                <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
                <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
                <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
                <script src="{% static 'vendor/js/sb-admin-2.min.js' %}"></script>
		<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
		<script src="{% static 'vendor/js/demo/datatables-demo.js' %}"></script>
		<!------------>
        </body>
</html>

